<div class="header">
    <div class="hd-container">
        <div class="search-box">
            <input class='search' type="text" placeholder="Enter">
        </div>
        
        <ul class='nav'>
            <li>
                {% if !curr %}
                    <a href="/" class='curr'>首页</a>
                {% else %}
                    <a href="/">首页</a>
                {% endif %}
            </li>
            {% for category in categories %}
            
            <li>
                {% if curr %}
                    <a href="/article?cateid={{category.id}}" class='curr'>{{category.name}}</a>
                {% else %}
                    <a href="/article?cateid={{category.id}}">{{category.name}}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>