<!-- 基础模板 -->
{% extends './layout_admin.html' %}
<!-- header模板 -->
{% block header %}{% include './admin_header.html' %}{% endblock %}
<!-- 侧栏模板 -->
{% block side %}{%include './admin_side.html' %}{% endblock %}
{% block content %}
    <div class="layui-body" style='padding:15px;'>
        <blockquote class='layui-elem-quote'>
            <h1 style="font-size:20px">你好， {% if userInfo.isAdmin %} 管理员
                <em class='blog-manager'>{{userInfo.username}}</em>
                {% else %} 欢迎光临我的博客 {%endif%}
            </h1>
        </blockquote>
        <h2 class="content-title">{{column_headers}}</h2>
        <hr class="layui-bg-red">
        <form class="layui-form layui-form-pane" action="" style="width:80%;margin-top:30px;">
            {% if pid == 'pageId_2' %}
                <div class="layui-form-item">
                    <label class="layui-form-label">分类名称</label>
                    <div class="layui-input-block">
                    <input type="text" name="category" required lay-verify="required" placeholder="请输入分类名称" class='layui-input'>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit lay-filter="addCate">添加</button>
                    <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                </div>
            {% elseif pid== 'pageId_4' %}
                <div class="layui-form-item">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入文章标题" class='layui-input'>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">文章简介</label>
                    <div class="layui-input-block">
                        <textarea type="text" name="descp" required lay-verify="required" placeholder="请输入文章简介（300字）" class='layui-textarea'></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class='layui-form-label'>所属分类</label>
                    <div class="layui-input-block">
                        <select name="category" id="" lay-verify="required">
                            <option value="">请选择分类</option>
                            {% for category in categories %}
                                <option value='{{category._id.toString()}}'>{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">文章内容</label>
                    <div class="layui-input-block">
                        <div id="Editor"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit lay-filter="addContent">添加</button>
                    <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                </div>
            {% endif %}
        </form>
    </div>
{%endblock%}