<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="nav-control">
            {% if userInfo.isAdmin %}
                <li id='tab_0' class="layui-nav-item layui-nav-itemed on">
                    <a class="{% if pid == 'pageId_0' %}layui-this{%endif%}" href="/admin/page?pid=pageId_0">用户列表</a>
                </li>
                <li class="layui-nav-item {% if pid =="pageId_1" || pid =="pageId_2" %}layui-nav-itemed{% endif %}">
                    <a href="javascript:;">分类管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a class="{% if pid == 'pageId_1' %}layui-this{%endif%}" href="/admin/page?pid=pageId_1">分类列表</a>
                        </dd>
                        <dd>
                            <a class="{% if pid == 'pageId_2' %}layui-this{%endif%}" href="/admin/page?pid=pageId_2">添加分类</a>
                        </dd>
                    </dl>
                </li>
            {% endif %}
            <li class="layui-nav-item {% if pid =="pageId_3" || pid =="pageId_4" %}layui-nav-itemed{% endif %}">
                <a href="javascript:">内容管理</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a class="{% if pid == 'pageId_3' %}layui-this{%endif%}" href="/admin/page?pid=pageId_3">内容列表</a>
                    </dd>
                    <dd>
                        <a class="{% if pid == 'pageId_4' %}layui-this{%endif%}" href="/admin/page?pid=pageId_4">内容添加</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>