<!-- 基础模板 -->
{% extends './layout_admin.html' %}
<!-- header模板 -->
{% block header %}{% include './admin_header.html' %}{% endblock %}
<!-- 侧栏模板 -->
{% block side %}{%include './admin_side.html' %}{% endblock %}
{% block content %}
    <div class="layui-body" style='padding:15px;'>
        <blockquote class='layui-elem-quote' style="margin-bottom:40px;">
            <h1 style="font-size:20px">你好，
                {% if userInfo.isAdmin %}
                    管理员<em class='blog-manager'>{{userInfo.username}}</em>
                {% else %}
                    欢迎光临我的博客
                {%endif%}
            </h1>
        </blockquote>
        {% if userInfo.isAdmin %}
            <fieldset class="layui-elem-field">
                <legend class='legend-head'>用户列表概览</legend>
                <div class='layui-field-box'>
                    <table class='layui-table'>
                        <thead>
                            <th>用户名</th>
                            <th>用户ID</th>
                            <th>是否是管理员</th>
                        </thead>
                        <tbody>
                    
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <fieldset class="layui-elem-field">
                <legend class='legend-head'>分类列表概览</legend>
                <div class='layui-field-box'>
                    <table class='layui-table'>
                        <thead>
                            
                        <tbody>
            
                        </tbody>
                    </table>
                </div>
            </fieldset>
        {% endif %}
        <fieldset class="layui-elem-field">
            <legend class='legend-head'>内容列表概览</legend>
            <div class='layui-field-box'>
                <table class='layui-table'>
                    <thead>
                        
                    </thead>
                    <tbody>
        
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
{%endblock%}