<div class="layui-header">
    <div class="layui-logo" style="color:#fff">{{title}}</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item">
            <a href="/admin/index">主界面</a>
        </li>
        <li class="layui-nav-item">
            <a href="/">博客首页</a>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">{{userInfo.username}}</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="">基本资料</a>
                </dd>
                <dd>
                    <a href="">安全设置</a>
                </dd>
                <dd>
                    <a id='logOut' href='javascript:'>退出登录</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>
   
