<!-- 基础模板 -->
{% extends './layout_admin.html' %}
<!-- header模板 -->
{% block header %}{% include './admin_header.html' %}{% endblock %}
<!-- 侧栏模板 -->
{% block side %}{%include './admin_side.html' %}{% endblock %} {% block content %}
<div class="layui-body" style='padding:15px;'>
    <blockquote class='layui-elem-quote'>
        <h1 style="font-size:20px">你好， {% if userInfo.isAdmin %} 管理员
            <em class='blog-manager'>{{userInfo.username}}</em>
            {% else %} 欢迎光临我的博客 {%endif%}
        </h1>
    </blockquote>
    <div class="layui-tab layui-tab-card" lay-filter='content' style='margin-top:20px; '>
        <ul class="layui-tab-title">
            <li class="layui-this">分类列表</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>分类ID</th>
                            <th>分类名称</th>
                            <th class='operation'>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if categories.length > 0 %}
                            {% for category in categories %}
                                <tr>
                                    <td>{{category._id.toString()}}</td>
                                    <td>{{category.name}}</td>
                                    <td>
                                        <a data-id='{{category.id}}' class='delCate layui-btn layui-btn-mini layui-btn-danger' href="javascript:">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td align='center' colspan='3'>暂无数据</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if categories.length==0 %}
                    <a href="/admin/page?pid=pageId_2" class='layui-btn'>添加分类</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{%endblock%}