{% extends './layout_admin.html' %} {% block header %}{% include './admin_header.html' %}{% endblock %} {% block side %}{%
include './admin_side.html' %}{% endblock %} {% block content %}
<div class="layui-body" style='padding:15px;'>
    <blockquote class='layui-elem-quote'>
        <h1 style="font-size:20px">你好， {% if userInfo.isAdmin %} 管理员
            <em class='blog-manager'>{{userInfo.username}}</em>
            {% else %} 欢迎光临我的博客 {%endif%}
        </h1>
    </blockquote>
    <div class="layui-tab layui-tab-card" lay-filter='content' style='margin-top:20px; '>
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id='tab_0'>用户列表</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>用户ID</th>
                            <th>用户名</th>
                            <th>是否是管理员</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user._id.toString()}}</td>
                            <td>{{user.username}}</td>
                            <td>
                                {% if user.isAdmin %}是{% else %}否{% endif %}
                            </td>
                            <td><a class='layui-btn layui-btn-mini layui-btn-danger' href="admin/delete?id={{user.id}}">删除</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}